<!DOCTYPE html>
<html lang="en">

<%- include("header.ejs") %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">

    <title>Document</title>
</head>
<body>
    
    <% if (blogs.length >= 1) { %>
        <% blogs.forEach(blog => { %>
            <h3><%= blog.title %></h3>
            <p><%= blog.dateTime %></p>
            <p><%= blog.description %></p>
           
    <a href="/edit/<%= blog.blogId %>" class="btn btn-light" style="width: 75px;">Edit</a>


<form action="/delete/<%= blog.blogId %>" method="post" style="display: inline-block; width: 100px;">
    <button type="submit" class="btn btn-dark">Delete</button>
</form>

            
        <% }); %>
    <% } else { %>
        <p id="blogs">There are no new blogs.</p>
    <% } %>
     




</body>
</html>